/* header */
body {min-width: 1920px;}
header {
    position: fixed; left: 0; top: 0; z-index: 998;
    width: 100%;
    display: flex; 
    justify-content: space-between; align-items: center;
    padding: 25px 100px;
    background-color: #05274F;
    /* display: none; */
}
header * {color: #FFD662; font-family: school_b, serif;}
header h1 {}
header h1 a {font-size: 1.875rem;}
header h1 a span {font-size: 1.25rem; margin-top: 5px;}
header nav {}
header nav a {margin-right: 30px; padding: 5px;}
header nav a:hover {border-bottom: 1px solid #FFD662;}
header nav a:last-child {margin: 0;}
/* fullpage */
#wrap {}
#wrap > * {background: #05274F;}
/* h1 공통 */
.title {
    font-size: 3.125rem; font-family: 'school_b', serif;
    color: #FFD662; text-align: center;
    margin-bottom: 80px;
}
/* 버튼 hover */
.link a:hover {background-color: #35659c;}
/* 1. 표지 */
.intro {
    background: url(../images/bg.jpg) center !important;
    position: relative; left: 0; top: 0; z-index: 999;
}
.intro .main_title {
    color: #FFD662; text-align: center;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.intro .main_title * {font-family: school_b, serif;}
.intro .main_title .year {font-size: 1.875rem;}
.intro .main_title h1 {font-size: 6.25rem; margin: 5px 0;}
.intro .main_title .name {font-size: 3.125rem;}
.intro .main_title .name span {}
/* scroll */
.intro .scroll {
    text-align: center; width: 100%;
    position: absolute; bottom: 50px;
    animation: move 0.7s linear alternate infinite;
}
.intro .scroll img {}
@keyframes move {
    0% {transform: translateY(0);}
    100% {transform: translateY(30px);}
}
/* 2. 프로필 */
.profile_wrap {}
.profile {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: center;
    gap: 120px;
}
.profile * {color: #fff;}
.profile .photo {}
.profile .photo p {}
.profile .photo p img {width: 100%;}
.profile .photo .info {
    font-size: 1.25rem; text-align: center;
    margin-top: 30px; line-height: 1.3;
}
.profile .photo .info span {color: #FFD662;}
.profile .txt {
    display: grid;
    grid-template-areas: 
        'about_me skill'
        'awards experience';
    gap: 150px 120px;
}
/* 프로필 h2 공통 */
.profile .txt h2 {
    color: #FFD662; margin-bottom: 30px;
    font-family: 'school_b', serif; font-size: 1.875rem;
}
.profile .txt .about_me {grid-area: about_me;}
.profile .txt .about_me h2 {}
.profile .txt .about_me p {margin-bottom: 20px;}
.profile .txt .about_me p:last-child {margin: 0;}
.profile .txt .skill {grid-area: skill;}
.profile .txt .skill h2 {}
.profile .txt .skill .icon {
    width: 400px;
    display: flex; flex-flow: row wrap;
    gap: 30px 20px;
}
.profile .txt .skill .icon li {}
.profile .txt .skill .icon li img {}
.profile .txt .awards_license {grid-area: awards;}
.profile .txt .awards_license h2 {}
.profile .txt .awards_license .info {width: 402px;}
.profile .txt .awards_license .info dt,
.profile .txt .experience .info dt {
    padding-right: 25px;
    float: left;
}
.profile .txt .awards_license .info dt {}
.profile .txt .awards_license .info dd, 
.profile .txt .experience .info dd {margin-bottom: 20px;}
.profile .txt .awards_license .info dd {}
.profile .txt .awards_license .info dd:last-child,
.profile .txt .experience .info dd:last-child {margin: 0;}
.profile .txt .awards_license .info dd:nth-of-type(2),
.profile .txt .awards_license .info dd:nth-of-type(4) {margin-left: 63px;}
.profile .txt .experience {grid-area: experience;}
.profile .txt .experience h2 {}
.profile .txt .experience .info {width: 666px;}
.profile .txt .experience .info dt {}
.profile .txt .experience .info dd {margin-left: 218px;}
.profile .txt .experience .info dd:nth-of-type(2) {line-height: 1.5;}
/* 3. web design */
.web_wrap {}
.web_wrap .web {position: relative; left: 0; top: 0; z-index: 800;}
.web_wrap .web .title {}
.web_wrap .web .swiper {max-width: 1200px;}
.web_wrap .web .swiper .swiper-wrapper {}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide {
    background-color: #fff; border-radius: 15px;
    display: flex; 
    justify-content: center; align-items: center;
    gap: 80px; padding: 50px 100px;
}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .thum {width: 577px;}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .thum img {width: 100%;}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info {}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info h2 {
    font-size: 3.125rem; font-weight: 700;
}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info p {
    font-weight: 500; margin: 15px 0 25px;
}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info ul {}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info ul li {
    margin-bottom: 15px;
}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info ul li:nth-child(3),
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info ul li:nth-child(5),
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info ul li:nth-child(7) {margin-bottom: 5px;}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info ul li span {font-weight: 600;}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info .link {
    margin-top: 25px; width: 320px;
    display: flex; flex-flow: row wrap; gap: 10px;
}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info .link a {
    background-color: #05274F; color: #FFD662; font-weight: 500;
    display: inline-block; border-radius: 5px;
    line-height: 46px; width: 150px; text-align: center;
}
.web_wrap .web .swiper .swiper-wrapper .swiper-slide .web_info .link a:hover {background-color: #35659c;}
.web_wrap .web div[class^=swiper-button] {
    color: #FFD662;
    position: absolute; top: 60%;
}
.web_wrap .web .swiper-button-prev {left: 150px;}
.web_wrap .web .swiper-button-next {right: 150px;}
/* 4. App design */
.app_wrap {}
.app_wrap .app {position: relative; left: 0; top: 0; z-index: 800;}
.app_wrap .app .title {}
.app_wrap .app .swiper {max-width: 1050px;}
.app_wrap .app .swiper .swiper-wrapper {}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide {
    background-color: #fff; border-radius: 15px;
    display: flex; 
    justify-content: center; align-items: center;
    gap: 80px; padding: 50px 100px;
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .thum {}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .thum img {width: 100%;}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info {}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info h2 {
    font-size: 3.125rem; font-weight: 700;
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info p {
    font-weight: 500; margin: 15px 0 25px;
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul {}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul li {
    margin-bottom: 15px;
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul li:nth-child(7) {
    line-height: 1.5;  width: 360px;
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul li:nth-child(4),
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul li:nth-child(6),
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul li:nth-child(8) {margin-bottom: 5px;}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info ul li span {font-weight: 600;}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info .link {
    margin-top: 25px; 
    display: flex; 
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info .link a {
    background-color: #05274F; color: #FFD662; font-weight: 500;
    display: inline-block; border-radius: 5px;
    line-height: 46px; width: 150px; text-align: center;
    margin-right: 10px;
}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info .link a:hover {background-color: #35659c;}
.app_wrap .app .swiper .swiper-wrapper .swiper-slide .app_info .link a:last-child {margin:0}
.app_wrap .app div[class^=swiper-button] {
    color: #FFD662;
    position: absolute; top: 60%;
}
.app_wrap .app .swiper-button-prev {left: 150px;}
.app_wrap .app .swiper-button-next {right: 150px;}
/* 5. sns */
.sns_wrap {}
.sns_wrap .sns {}
.sns_wrap .sns .title {}
.sns_wrap .sns .swiper {}
.sns_wrap .sns .swiper .swiper-wrapper {transition-timing-function: linear;}
.sns_wrap .sns .swiper .swiper-wrapper .swiper-slide {align-self: center;}
.sns_wrap .sns .swiper .swiper-wrapper .swiper-slide img {width: 100%;}
/* 6.illust */
.illust_wrap {}
.illust_wrap .illust {}
.illust_wrap .illust .title {}
.illust_wrap .illust .swiper {}
.illust_wrap .illust .swiper .swiper-wrapper {transition-timing-function: linear;}
.illust_wrap .illust .swiper .swiper-wrapper .swiper-slide {align-self: center;}
.illust_wrap .illust .swiper .swiper-wrapper .swiper-slide img {width: 100%;}
/* 7.video */
.video_wrap {}
.video_wrap .video {
    text-align: center; width: max-content;
    margin: 0 auto;
}
.video_wrap .video .title {}
.video_wrap .video > a {
    background: #FFD662; color: #05274F;
    border-radius: 5px;
    height: 46px; width: 150px;
    margin: 0 auto 80px;
    display: flex; align-items: center; justify-content: center;
}
.video_wrap .video > a img {margin: 10.5px 10px 10.5px 15px;}
.video_wrap .video > a span {
    font-weight: 500; margin: 10px 15px 10px 0;
    display: inline-block; line-height: 46px;
}
.video_wrap .video .thum {
    display: flex; flex-flow: row wrap;
    gap: 50px; 
    max-width: 1430px;
}
.video_wrap .video .thum a {width: 320px; overflow: hidden;}
.video_wrap .video .thum a img {width: 100%; transition: transform 0.5s;}
.video_wrap .video .thum a:hover img {transform: scale(1.1);}
/* 8. outro */
.outro {}
.outro .title:first-child {margin-bottom: 30px;}
.outro .title:last-child {font-family: 'school_r', serif;}
