@media screen and (max-width: 1650px){
    #wrap > div > div {padding-top: 150px;}
    .profile {
        /* padding-top: 110px; */
        /* height: calc(100vh - 110px); */
        flex-flow: column nowrap; gap: 50px;
    }
    .profile .txt {gap: 50px;}
    .web_wrap .web .swiper .swiper-wrapper .swiper-slide {
        gap: 50px; padding: 30px 30px;
    }
    .web_wrap .web .swiper-button-prev {left: 50px;}
    .web_wrap .web .swiper-button-next {right: 50px;}
}
@media screen and (max-width: 1200px){
    .profile .txt {
        grid-template-areas: 
            'about_me'
            'skill'
            'awards'
            'experience';
        gap: 50px;
    }
    .web_wrap .web .swiper .swiper-wrapper .swiper-slide {flex-flow: column nowrap;}
}
@media screen and (max-width:900px){
    .intro .main_title .name span {display: block;}
}